In [5]:
import pymysql
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re
plt.rcParams['font.family']='Malgun Gothic'
%matplotlib inline

In [201]:
data_popul=pd.read_excel('data/2019popul.xlsx')
data_popul=data_popul.iloc[1:,1:]
data_popul.columns=data_popul.iloc[0,:].tolist()
data_popul=data_popul.iloc[1:,:]
data_popul.to_pickle('data/2019popul.pkl')
data_popul

,행정기관,총인구수,세대수,세대당 인구,남자 인구수,여자 인구수,남여 비율
2,서울특별시,"9,729,107","4,327,605",2.25,"4,744,059","4,985,048",0.95
3,서울특별시 종로구,"151,290","73,947",2.05,"73,746","77,544",0.95
4,서울특별시 중구,"126,171","62,739",2.01,"61,910","64,261",0.96
5,서울특별시 용산구,"228,670","110,126",2.08,"110,356","118,314",0.93
6,서울특별시 성동구,"300,889","135,838",2.22,"147,273","153,616",0.96
...,...,...,...,...,...,...,...
275,경상남도 거창군,"62,179","29,538",2.11,"30,345","31,834",0.95
276,경상남도 합천군,"45,204","24,173",1.87,"21,655","23,549",0.92
277,제주특별자치도,"670,989","293,155",2.29,"337,345","333,644",1.01
278,제주특별자치도 제주시,"489,405","209,439",2.34,"245,533","243,872",1.01
279,제주특별자치도 서귀포시,"181,584","83,716",2.17,"91,812","89,772",1.02

In [209]:
data_popul=data_popul[data_popul['행정기관'].apply(lambda x: re.match('\w+ \w+',x) and True or False)]
data_popul=data_popul[data_popul['행정기관'].apply(lambda x: False if re.match('\w+ \w+ \w+',x) else True)]
data_popul=data_popul.sort_values('행정기관')
data_popul=data_popul.loc[:,['행정기관','총인구수']]

In [210]:
data_popul.to_pickle('data/시군구_인구수.pkl')

In [211]:
data_popul

          행정기관     총인구수
137   강원도 강릉시   213,442
151   강원도 고성군    27,260
138   강원도 동해시    90,522
141   강원도 삼척시    67,228
140   강원도 속초시    81,786
..         ...      ...
160  충청북도 제천시   134,617
164  충청북도 증평군    37,392
165  충청북도 진천군    81,084
154  충청북도 청주시   839,566
159  충청북도 충주시   210,737

[228 rows x 2 columns]